<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>My offers List</h1>

        <ul><% @offers.each do |offer|%>
            <li>
                <h2><span class="mui--divider-right">Property Address &nbsp;</span>
                    <a href="/properties/<%=offer.property_id%>"><%= find_property(offer.property_id).address%></a>
                    <%= find_property(offer.property_id).picture%></h2>

                <h4><span class="mui--divider-right">Offer status &nbsp;</span>
                    <%=application_status(offer.applied)%> </h4>
            </li>
        <%end%></ul>
    </div>

    <div class="mui-col-md-12">
        <h3><a href="/update_offers">Update this offer</a></h3>
    </div>
</div>