<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>List new property for sale</h1>
        <form method="post" action="/properties" class="mui-form">
            <legend>Property Address</legend>
            <div class="mui-textfield">
                <input type="text" name="address" id="address" required/>
            </div>

            <legend>Property Picture</legend>
            <div class="mui-textfield">    
                <input type="text" name="picture" id="picture" />
            </div>

            <legend>Overview</legend>
            <div class="mui-textfield">
                <textarea name="overview" id="overview" required></textarea>
            </div>

            <legend>Property Price</legend>
                <input type="number" name="price" id="price" required/>
            
            <br><button type="submit" class="mui-btn mui-btn--primary">Ready? List this property!</button>
        </form>

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
    </div>
</div>